{% extends "layout.html" %}


{% block styles %}

<style>
.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}



</style>

{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h2>关于我们</h2></div>
        <h3>2016 秋 网络数据挖掘 课程大作业</h3>
        <hr/>
        <h4><span class="label label-success">组长</span> <a href="#"><strong>李博伟</strong></a> 中国科学院信息工程研究所 </h4>
        <h4><span class="label label-primary">组员</span> <a href="#"><strong>王炳来</strong></a> 中国科学院信息工程研究所 </h4>
        <h4><span class="label label-primary">组员</span> <a href="#"><strong>徐冰冰</strong></a> 中国科学院计算技术研究所 </h4>
        <h4><span class="label label-primary">组员</span> <a href="#"><strong>倪艺函</strong></a> 中国科学院计算技术研究所 </h4>
        <h4><span class="label label-primary">组员</span> <a href="#"><strong>闫会玉</strong></a> 中国科学院沈阳自动化研究所 </h4>
        <hr/>
        <h5><a href="https://github.com/libowei1213/SpamMessage" target="_blank">Github</a></h5>

    </div>
</div>

{% endblock %}