{% extends "layout.html" %}


{% block content %}
<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1></h1>
            <p class="lead"></p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
                <a class="list-group-item" href="#">朴素贝叶斯</a>
                <a class="list-group-item" href="#">支持向量机</a>
            </div>
        </div>


        <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="list-group table-of-contents">
                <h1>朴素贝叶斯</h1>
                <h1>支持向量机</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}